fastapi
uvicorn
python-multipart
llama-index-core
llama-index-llms-groq
llama-index-embeddings-google
llama-index-vector-stores-postgres
supabase
pymupdf
python-dotenv
google-generativeai
pydantic
psycopg2-binary
sqlalchemy
pgvector
